/*mixins*/
@mixin pseudo() {
    position: absolute;
    content: '';
}
@mixin mauto() {
    margin-left: auto;
    margin-right: auto;
}
@mixin list() {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
        display: inline-block;
    }
}
@mixin link() {
    &:hover {
        text-decoration: none;
    }
}
@mixin img-resp() {
    width: 100%;
    height: auto;
}